extends layout.pug

block title 
  title #{message} - 애드미네이터

block css
  link(rel='stylesheet', href='/stylesheets/error/error.css')

block scripts 
  script(src="/javascripts/error.js")

block favicon 
  link(rel="icon", type="iamge/svg+xml" href="/images/icons/favicon/error.svg#root")
block content
  img.bg(src="/images/bg/err.png")
  .prompt-wrapper
    .prompt
      .title
        h1#error= error
      .desc
        p#msg= message
      .buttons
        button(disabled)#back 
          svg#back-icon
            use(xlink:href="/images/icons/back.svg#root")
          span 뒤로 가기
        button#home 홈으로 돌아가기


